{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% if form.instance.pk %}Edit{% else %}Add{% endif %} Book - BookNest
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title mb-0">
                    {% if form.instance.pk %}Edit{% else %}Add{% endif %} Book
                </h2>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.author|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.description|as_crispy_field }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.cover_image|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.pages|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.pages_read|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.date_finished|as_crispy_field }}
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            {% if form.instance.pk %}Update{% else %}Add{% endif %} Book
                        </button>
                        <a href="{% url 'book-list' %}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}